  <section class="page-title">
    <div class="page-title__inner">
      <div class="page-title__img">
        <img src="img/sample-pc_1.jpg" alt="">
      </div>
      <div class="page-title__text">
        <p>よくあるご質問</p>
      </div>
    </div>
  </section>
  
  <section class="faq">
    <div class="faq__inner">
      <div class="faq__title">
        <p>商品について</p>
      </div>
      <ul class="faq__list">
        <li class="faq__item">
          <div class="faq__question">
            <p>Q.はちみつは1日どれくらいの量を食べるのがおすすめですか？</p>
            <div class="faq__button">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="faq__answer">
            <p>
              A.大さじ1~2杯がおすすめです。食べ過ぎは糖分の摂りすぎになるため、ご注意ください。
            </p>
          </div>
        </li>
        <li class="faq__item">
          <div class="faq__question">
            <p>Q.はちみつは1日どれくらいの量を食べるのがおすすめですか？</p>
            <div class="faq__button">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="faq__answer">
            <p>
              A.大さじ1~2杯がおすすめです。食べ過ぎは糖分の摂りすぎになるため、ご注意ください。
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
