<section class="page-title">
  <div class="page-title__inner">
    <div class="page-title__img">
      <img src="{{ 'main-honey.jpg' | asset_url }}" alt="">
    </div>
    <div class="page-title__text">
      <p>{{ page.title }}</p>
    </div>
  </div>
</section>